<!DOCTYPE html>
<html>
    <head>
        <style>
            html, body {
                width: 100%;
                height: auto !important;
                padding: 0;
                margin: 0;
            }
            main, canvas {
                width: 100% !important;
                height: 100% !important;
                display: block;
                image-rendering: {{ .Get 0 | default "auto" }};
            }
        </style>
        <script src="/js/wasm_exec.js"></script>
        <script>
        // Polyfill
        if (!WebAssembly.instantiateStreaming) {
            WebAssembly.instantiateStreaming = async (resp, importObject) => {
                const source = await (await resp).arrayBuffer();
                return await WebAssembly.instantiate(source, importObject);
            };
        }
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("{{ .Get 0 }}"), go.importObject).then(result => {
            go.run(result.instance);
        });
        </script>
    </head>
    <body>

    </body>
</html>
