{{ $title :=  (.Get "title") | default (.Get 0) }}
{{ $id := print "sketch-" (replace $title " " "-" | lower) }}
{{ $resource := .Page.Resources.GetMatch (.Get "src") }}

<div class="sketch">
    <div class="sketch-toolbar">
        <div class="sketch-title"><span><i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>&nbsp;{{ $title }}</span></div>
        <div class="sketch-controls">
            <a class="controls" href="https://github.com/{{$.Site.Params.repo}}/blob/main/content{{ $resource.RelPermalink }}" target="_blank"><i class="fa fa-fw fa-code" aria-hidden="true"></i></a>
            <a class="controls" href="/sketches/{{ $id }}" target="_blank"><i class="fa fa-fw fa-external-link" aria-hidden="true"></i></a>
            <a class="controls" onclick="reload({{  $id }})"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i></a>
            <a class="controls" onclick="fullscreen({{ $id }})"><i class="fa fa-fw fa-arrows-alt" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="sketch-container">
        <iframe id="{{ $id }}" class="sketch-iframe" sandbox="allow-scripts allow-same-origin" srcdoc="{{ .Inner | safeHTMLAttr }}"  scrolling="no" frameborder="0" onload="resize(this)" width="100%" height="480px"></iframe>
    </div>
</div>